






.animation, .animation-layer{
  height: 1000px;
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
}

.animation-layer{
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-y;
  width: 100%;
  position: absolute;
}

.animation-layer.parallax {
  position: fixed;
}



#mountains{
  background-image: url(./images/mountains.png);
}
#moon{
  background-image: url(./images/moon1.png);
}
#rocks{
  background-image: url(./images/rocks.png);
}
#sky{
  background-image: url(./images/stars-sky.png);
  background-repeat: repeat-y;
}